In [1052]:
import numpy as np
import pandas as pd

In [1053]:
df12 = pd.DataFrame.from_csv('../meteo_csv/2012.csv')
df13 = pd.DataFrame.from_csv('../meteo_csv/2013.csv')
df14 = pd.DataFrame.from_csv('../meteo_csv/2014.csv')
df15 = pd.DataFrame.from_csv('../meteo_csv/2015.csv')
df16 = pd.DataFrame.from_csv('../meteo_csv/2016.csv')

In [1054]:
frames = [df12,df13,df14,df15,df16]

In [1055]:
for item in frames:
    print(item.shape)

(366, 22)
(364, 22)
(364, 22)
(365, 22)
(365, 22)

In [1056]:
df = pd.concat(frames)

In [1057]:
df.head()

,stn,wban,yearmoda,temp,count_temp,dewp,count_dewp,slp,count_slp,stp,...,count_visib,wdsp,count_wdsp,mxspd,gust,max,min,prcp,sndp,frshtt
0,337610,99999,20120101,28.8,8,25.7,8,1019.2,8,996.1,...,8,4.4,8,5.8,999.9,33.8,24.8,0.00I,999.9,100000
1,337610,99999,20120102,30.2,8,26.0,8,1021.2,8,998.2,...,8,5.3,8,7.8,999.9,35.6,24.4,0.00I,999.9,0
2,337610,99999,20120103,34.3,8,31.1,8,1020.3,8,997.5,...,8,5.1,8,7.8,999.9,37.9,29.7,0.00I,999.9,0
3,337610,99999,20120104,35.9,8,35.8,8,1017.7,8,995.0,...,8,6.1,8,7.8,999.9,39.2,31.8,0.00I,999.9,100000
4,337610,99999,20120105,36.5,8,35.4,8,1005.9,8,983.5,...,8,6.1,8,11.7,999.9,41.9,32.2,99.99,999.9,110000

In [1058]:
df.drop(df.columns[[0, 1,4,6,8,10,12,14,16]], axis=1, inplace=True)

In [1060]:
df.shape

(1824, 13)

In [1061]:
df['year'] = df['yearmoda'] // 10000
df['month'] = df['yearmoda'] // 100 % 100
df['day'] = df['yearmoda'] % 100

In [1062]:
df.head()

,yearmoda,temp,dewp,slp,stp,visib,wdsp,mxspd,max,min,prcp,sndp,frshtt,year,month,day
0,20120101,28.8,25.7,1019.2,996.1,6.4,4.4,5.8,33.8,24.8,0.00I,999.9,100000,2012,1,1
1,20120102,30.2,26.0,1021.2,998.2,8.4,5.3,7.8,35.6,24.4,0.00I,999.9,0,2012,1,2
2,20120103,34.3,31.1,1020.3,997.5,5.8,5.1,7.8,37.9,29.7,0.00I,999.9,0,2012,1,3
3,20120104,35.9,35.8,1017.7,995.0,0.4,6.1,7.8,39.2,31.8,0.00I,999.9,100000,2012,1,4
4,20120105,36.5,35.4,1005.9,983.5,3.1,6.1,11.7,41.9,32.2,99.99,999.9,110000,2012,1,5

In [1063]:
df['sndp'].replace(999.9,0, inplace = True)

In [1064]:
df['yearmoda1'] = df['yearmoda'].astype(str).apply(lambda x: x[:9])
df.index = pd.to_datetime(df['yearmoda1'], format='%Y%m%d').values
df.drop(df.columns[[0,16]], axis=1, inplace=True)
df.head()

,temp,dewp,slp,stp,visib,wdsp,mxspd,max,min,prcp,sndp,frshtt,year,month,day
2012-01-01,28.8,25.7,1019.2,996.1,6.4,4.4,5.8,33.8,24.8,0.00I,0.0,100000,2012,1,1
2012-01-02,30.2,26.0,1021.2,998.2,8.4,5.3,7.8,35.6,24.4,0.00I,0.0,0,2012,1,2
2012-01-03,34.3,31.1,1020.3,997.5,5.8,5.1,7.8,37.9,29.7,0.00I,0.0,0,2012,1,3
2012-01-04,35.9,35.8,1017.7,995.0,0.4,6.1,7.8,39.2,31.8,0.00I,0.0,100000,2012,1,4
2012-01-05,36.5,35.4,1005.9,983.5,3.1,6.1,11.7,41.9,32.2,99.99,0.0,110000,2012,1,5

In [1065]:
for x in df[df['wdsp'] == 999.9].index:
    df.loc[x,'wdsp'] = np.NaN
len(df[df['wdsp'].isnull()])

20

In [1066]:
df['wdsp'] = df['wdsp'].interpolate(method='time')
sum(df['wdsp'].isnull())

0

In [1067]:
for x in df[df['mxspd'] == 999.9].index:
    df.loc[x,'mxspd'] = np.NaN
len(df[df['mxspd'].isnull()])

20

In [1068]:
df['mxspd'] = df['mxspd'].interpolate(method='time')
sum(df['mxspd'].isnull())

0

In [1069]:
for x in df[df['prcp'] == '99.99'].index:
    df.loc[x,'prcp'] = np.NaN
len(df[df['prcp'].isnull()])

38

In [1070]:
for x in df.index:
    if (str(df.loc[x,'prcp'])[-1] == 'I') or (str(df.loc[x,'prcp'])[-1] == 'H'):
        df.loc[x,'prcp'] = np.NaN
len(df[df['prcp'].isnull()])

1138

In [1071]:
for x in df[df['prcp'].notnull()].index:
    df.loc[x,'prcp'] = df.loc[x,'prcp'][:-1]

In [1072]:
df.head(10)

,temp,dewp,slp,stp,visib,wdsp,mxspd,max,min,prcp,sndp,frshtt,year,month,day
2012-01-01,28.8,25.7,1019.2,996.1,6.4,4.4,5.8,33.8,24.8,NaN,0.0,100000,2012,1,1
2012-01-02,30.2,26.0,1021.2,998.2,8.4,5.3,7.8,35.6,24.4,NaN,0.0,0,2012,1,2
2012-01-03,34.3,31.1,1020.3,997.5,5.8,5.1,7.8,37.9,29.7,NaN,0.0,0,2012,1,3
2012-01-04,35.9,35.8,1017.7,995.0,0.4,6.1,7.8,39.2,31.8,NaN,0.0,100000,2012,1,4
2012-01-05,36.5,35.4,1005.9,983.5,3.1,6.1,11.7,41.9,32.2,NaN,0.0,110000,2012,1,5
2012-01-06,40.2,39.3,996.9,974.8,3.3,4.7,9.7,42.8,36.7,0.20,0.0,10000,2012,1,6
2012-01-07,36.5,35.5,1008.6,986.2,2.5,9.4,11.7,38.3*,33.6*,0.28,0.0,11000,2012,1,7
2012-01-08,34.0,32.3,1009.1,986.5,4.3,9.1,9.7,36.0,33.1*,0.12,0.0,1000,2012,1,8
2012-01-09,31.8,30.3,1012.3,989.6,2.7,10.5,11.7,33.4,30.6*,0.12,0.0,1000,2012,1,9
2012-01-10,30.4,26.5,1020.3,997.3,9.9,7.5,9.7,33.8,26.2,0.12,4.3,0,2012,1,10

In [1073]:
for x in df.index:
    if (str(df.loc[x,'max'])[-1] == '*'):
        df.loc[x,'max'] = df.loc[x,'max'][:-1]
    if (str(df.loc[x,'min'])[-1] == '*'):
        df.loc[x,'min'] = df.loc[x,'min'][:-1]
    
df['max']=df['max'].astype(np.float64)
df['min']=df['min'].astype(np.float64)
df['prcp']=df['prcp'].astype(np.float64)

In [1074]:
sum(df['prcp'].isnull())

1138

In [1075]:
df['prcp'] = df['prcp'].interpolate(method='time')
sum(df['prcp'].isnull())

5

In [1076]:
df = df.fillna(method='bfill')

In [1077]:
sum(df['prcp'].isnull())

0

In [1079]:
df.dtypes

temp      float64
dewp      float64
slp       float64
stp       float64
visib     float64
wdsp      float64
mxspd     float64
max       float64
min       float64
prcp      float64
sndp      float64
frshtt      int64
year        int64
month       int64
day         int64
dtype: object

In [1080]:
df['fog'] = df['frshtt'] // 100000
df['rain'] = df['frshtt'] // 10000 % 10
df['snow'] = df['frshtt'] // 1000 % 10
df['hail'] = df['frshtt'] // 100 % 10
df['thunder'] = df['frshtt'] // 10 % 10
df['tornado'] = df['frshtt'] % 10
df.drop(['frshtt'],axis = 1, inplace = True)

In [1081]:
df.tail(10)

,temp,dewp,slp,stp,visib,wdsp,mxspd,max,min,prcp,sndp,year,month,day,fog,rain,snow,hail,thunder,tornado
2016-12-22,27.2,24.1,1033.1,1009.7,6.2,3.6,5.8,34.7,22.8,0.024,2.0,2016,12,22,0,0,0,0,0,0
2016-12-23,22.2,22.2,1031.8,1008.1,0.2,2.4,3.9,24.4,18.7,0.016,2.0,2016,12,23,1,0,0,0,0,0
2016-12-24,29.8,28.7,1028.2,1005.0,2.8,4.9,7.8,31.6,21.9,0.008,2.0,2016,12,24,1,0,0,0,0,0
2016-12-25,30.0,29.0,1018.9,995.8,2.8,4.2,5.8,33.8,28.0,0.000,2.0,2016,12,25,0,1,1,0,0,0
2016-12-26,31.4,29.5,1022.4,999.4,5.7,5.8,9.7,38.5,27.3,0.000,1.6,2016,12,26,0,0,0,0,0,0
2016-12-27,34.5,30.6,1016.1,993.4,7.8,7.2,11.7,39.2,29.5,0.120,1.2,2016,12,27,0,1,0,0,0,0
2016-12-28,34.2,29.3,1016.0,993.2,11.1,6.7,9.7,37.6,32.4,0.000,1.2,2016,12,28,0,1,1,0,0,0
2016-12-29,30.9,25.8,1029.5,1006.3,9.6,13.9,15.5,32.7,30.2,0.000,1.2,2016,12,29,0,0,1,0,0,0
2016-12-30,27.6,22.3,1034.8,1011.3,11.5,11.4,15.5,30.0,22.8,0.000,1.2,2016,12,30,0,0,0,0,0,0
2016-12-31,24.3,22.2,1027.9,1004.4,3.6,3.9,5.8,28.8,19.2,0.000,1.2,2016,12,31,0,0,0,0,0,0

In [1084]:
df.to_csv('../data/final_weather.csv', index = False)